In [ ]:
import pandas as pd

In [63]:
cols = ["Fecha","cod_ine","provincia","Casos","Fallecidos","Hospitalizados","UCI"]
data = [[None,0,"No consta",11,0,0,0], #se modifico para la prueba
["2020-01-01",1,"Araba/Álava",20,0,0,0],
["2020-01-01",2,"Albacete",0,0,0,0],
["2020-01-01",3,"Alicante/Alacant",0,0,0,0],
["2020-01-01",4,"Almería",0,0,0,0],
["2021-06-03",48,"Bizkaia",0,0,0,0],
["2021-06-03",49,"Zamora",0,0,0,0],
["2021-06-03",50,"Zaragoza",0,0,0,0],
["2021-06-03",51,"Ceuta",4,0,0,0],
["2021-06-03",52,"Melilla",0,0,0,0]]

df = pd.DataFrame(data,columns=cols)

In [56]:
df

,Fecha,cod_ine,provincia,Casos,Fallecidos,Hospitalizados,UCI
0,None,0,No consta,11,0,0,0
1,2020-01-01,1,Araba/Álava,20,0,0,0
2,2020-01-01,2,Albacete,0,0,0,0
3,2020-01-01,3,Alicante/Alacant,0,0,0,0
4,2020-01-01,4,Almería,0,0,0,0
5,2021-06-03,48,Bizkaia,0,0,0,0
6,2021-06-03,49,Zamora,0,0,0,0
7,2021-06-03,50,Zaragoza,0,0,0,0
8,2021-06-03,51,Ceuta,4,0,0,0
9,2021-06-03,52,Melilla,0,0,0,0

In [ ]:
for i in df.index:
    print(df["Fecha"][i])

In [64]:

df.fillna('NULL', inplace=True)

In [65]:
df

,Fecha,cod_ine,provincia,Casos,Fallecidos,Hospitalizados,UCI
0,NULL,0,No consta,11,0,0,0
1,2020-01-01,1,Araba/Álava,20,0,0,0
2,2020-01-01,2,Albacete,0,0,0,0
3,2020-01-01,3,Alicante/Alacant,0,0,0,0
4,2020-01-01,4,Almería,0,0,0,0
5,2021-06-03,48,Bizkaia,0,0,0,0
6,2021-06-03,49,Zamora,0,0,0,0
7,2021-06-03,50,Zaragoza,0,0,0,0
8,2021-06-03,51,Ceuta,4,0,0,0
9,2021-06-03,52,Melilla,0,0,0,0

In [ ]:
def create_query_columns(table_name:str, df_columns:list, env):
    contador = 0
    query:str =f'insert into {env}_globant.jobs.{table_name} ('
    for column in df_columns:
        contador += 1
        if contador == len(df.columns.values):
            query = f"{query}{column})"
        else:
            query = f"{query}{column},"
    return query

def insert_data(query_columns:str, df_columns:list, df:pd.DataFrame):
    # cursor = conn.cursor()
    query = ""
    for index in df.index:
        print(index)
        query = f"{query_columns} values ("
        contador = 0
        for column in df_columns:
            contador += 1
            if contador == len(df_columns):
                query = f"{query} {df[column][index]})"
            else:
                query = f"{query} {df[column][index]},"
        print(query)
    return query

In [ ]:
q = create_query_columns('jobs', df.columns.values, "dev")
q

In [ ]:
insert_data(q,df.columns.values,df)

In [76]:
def insert_data(query_columns:str, df_columns:list, df:pd.DataFrame):

    # cursor = conn.cursor()
    query = ""
    try:
        for index in df.index:
            print(index)
            query_columns = f"insert into tabla("
            query_values = '('
            contador = 0
            for column in df_columns:
                contador += 1
                value = df[column][index]
                if contador == len(df_columns):
                    if value != 'NULL':
                        query_columns = f"{query_columns} {column})"
                        query_values = f"{query_values} '{value}')"
                else:
                    if value != 'NULL':
                        query_columns = f"{query_columns} {column},"
                        query_values = f"{query_values} '{value}',"
            print(f"{query_columns} {query_values}")

        return "Datos insertados con exito"
    except (Exception) as error:
        print(error)
        return f"ha habido un error en la ejecucion. Detalle del error: {error}"

In [77]:
insert_data(q,df.columns.values,df)

0
insert into tabla( cod_ine, provincia, Casos, Fallecidos, Hospitalizados, UCI)  '0', 'No consta', '11', '0', '0', '0')
1
insert into tabla( Fecha, cod_ine, provincia, Casos, Fallecidos, Hospitalizados, UCI)  '2020-01-01', '1', 'Araba/Álava', '20', '0', '0', '0')
2
insert into tabla( Fecha, cod_ine, provincia, Casos, Fallecidos, Hospitalizados, UCI)  '2020-01-01', '2', 'Albacete', '0', '0', '0', '0')
3
insert into tabla( Fecha, cod_ine, provincia, Casos, Fallecidos, Hospitalizados, UCI)  '2020-01-01', '3', 'Alicante/Alacant', '0', '0', '0', '0')
4
insert into tabla( Fecha, cod_ine, provincia, Casos, Fallecidos, Hospitalizados, UCI)  '2020-01-01', '4', 'Almería', '0', '0', '0', '0')
5
insert into tabla( Fecha, cod_ine, provincia, Casos, Fallecidos, Hospitalizados, UCI)  '2021-06-03', '48', 'Bizkaia', '0', '0', '0', '0')
6
insert into tabla( Fecha, cod_ine, provincia, Casos, Fallecidos, Hospitalizados, UCI)  '2021-06-03', '49', 'Zamora', '0', '0', '0', '0')
7
insert into tabla( Fecha, cod_ine, provincia, Casos, Fallecidos, Hospitalizados, UCI)  '2021-06-03', '50', 'Zaragoza', '0', '0', '0', '0')
8
insert into tabla( Fecha, cod_ine, provincia, Casos, Fallecidos, Hospitalizados, UCI)  '2021-06-03', '51', 'Ceuta', '4', '0', '0', '0')
9
insert into tabla( Fecha, cod_ine, provincia, Casos, Fallecidos, Hospitalizados, UCI)  '2021-06-03', '52', 'Melilla', '0', '0', '0', '0')

'Datos insertados con exito'